body {
    font-family: "Roboto", sans-serif;
}

h1, h2 {
    font-family: "Open Sans", sans-serif;
}
h1 {
    color: tomato;
    text-shadow: 0 0 1px black;
}

.color-scheme {
    height: 200px;
    text-align: center;
    margin: 0 0 3px 3px;
    font-size: 1em;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.5s;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10em;
    border: 1px solid lightgrey;
}
.color-scheme:hover {
    box-shadow: 0 0 15px 5px tomato;
}

.color-scheme span {
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    float: right;
    margin: 3px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
}

.add-button {
    position: fixed;
    top: 1px;
    right: 0;
    background-color: tomato;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    margin: 5px 5px 0 0;
}

.toast-top-center {
    top: 10px;
}